/*reseteo general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-sizing: content-box;
}
body{
    background-color: antiquewhite;
}
.container-nav {
    background-color: rgb(127, 255, 212);
    padding: 1rem;
}

a {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: .5rem;
}

a>h4 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font: size 1.5rem;
   a{
    text-decoration: none;
}

a >h4:hover{
    color: rgb(49, 121, 121);


    
}

/*aqui inicia la secion de servicios*/
.servicios{
    padding: 10rem;

}

.imagen-servicios{
    width: 300px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 1px 1px 10px black;

}

 .servicios-img title{
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    justify-items: center;
    gap: 4rem;


 }  

 .parrafo-servicio{
    font-size: 20px;

}
/* aqui inici la secion de habilidades */
.habilidades{
    display: flex;
justify-content: center;
justify-items: center;
align-content: center;
align-items: center;
gap:3rem;


    img-habilidades{
        display: flex;
        gap: 1rem;
        padding: 1rem;
    padding: 1.5rem;

    habilidades-title{
        margin: bottom 3rem;
        rou1 > img{
            box-shadow: 1px 1px 10px black;
            width: 50px;
            border-radius: 50%;
        
        rou2 > img{
            width: 80px;
            border-radius: 50%;
            box-shadow: 1px 1px 10px black;

            rou3 > img{
                width: 80px;
                border-radius: 50%;
                box-shadow: 1px 1px 10px black;

